=simple_error_messages_for :account
-tab :general do
  %table
    %tr
      %td=human_name_for :account, :name
      %td=text_field :account, :name
    %tr
      %td=human_name_for :account, :surname
      %td=text_field :account, :surname
    %tr
      %td=human_name_for :account, :email
      %td=text_field :account, :email
    %tr
      %td=human_name_for :account, :password
      %td=password_field :account, :password
    %tr
      %td=human_name_for :account, :password_confirmation
      %td=password_field :account, :password_confirmation
    %tr
      %td=human_name_for :account, :role
      %td=select :account, :role, AccountAccess.roles
