<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%%= stylesheet_link_tag "standard", "print" %>
</head>
<body>
  <pd4ml:page.header>
    <div style="padding:0px 0px 100px 0px">
      <%%= yield(:header) %>
    </div>
  </pd4ml:page.header>
  <pd4ml:page.footer>
  <%%= yield(:footer) %>
    <div style="text-align:right;padding-top:10px"><%= I18n.t("backend.print.footer.page") %> $[page] <%= I18n.t("backend.print.footer.page_of") %> $[total]</div>
  </pd4ml:page.footer>
  <%%= yield %>
</body>
</html>