%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset=>"utf-8"}
    =stylesheet_link_tag "standard", "print"
  %body
    -pdf_header do
      My Header
    
    -pdf_footer do
      My Footer
      
    My Content