<%= ext_error_messages_for :account %>
<div class="label">Email:</div><div><%= text_field :account, :email %></div>
<div class="label">Password:</div><div><%= password_field :account, :password %></div>
<div class="label">Password Confirm:</div><div><%= password_field :account, :password_confirmation %></div>