<div class="label">Modules</div>
<% for project_module in @project_modules %>
  <div style="padding-left:10px">
    <%= check_box_tag "account[modules][]",  project_module.name, @account.project_modules.include?(project_module) || nil %> 
    <%= project_module.human_name %>
  </div>
<% end %>